.buttonEdit{
    margin-left : 1300px;
}
.img{
    padding-left: 70px;
    padding-bottom: 80px;

}
.buttonGroup{
    padding-left: 700px;
    max-width: 20px;
    max-height: 30px;
}
.progress{
    max-width: 600px;
}
.textarea{
    border: none;
    resize: none;
    outline: none;
    width: 800px;
    height: 400px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
.zoom
{
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .2s ease-in;
}
.zoom:hover
{
    z-index:4;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}