.buttonEdit{
    margin-left : 1300px;
}
.img{
    padding-left: 70px;
    padding-bottom: 80px;

}
.buttonGroup{
    padding-left: 700px;
    max-width: 20px;
    max-height: 30px;
}
.progress{
    max-width: 600px;
}