<div>
    <div class="btn-group col-md-1" role="group" aria-label="Basic mixed styles example" *ngIf="isAdmin">
        <button type="button" class="btn btn-outline-success buttonEdit" (click)="addToAbility()">Yetenek Ekle</button>
        <button type="button" class="btn btn-outline-warning buttonEdit" (click)="openSummary()">Metni Düzenle</button>
    </div>
    <div class="row">
        <div class="col-md-4 img"> <img src="assets/image/67931.jpg" width="200" height="300"></div>
        <div class="col-md-7"> {{summary}}
            <div *ngFor="let ability of abilities">
                <div>{{ability.name}}</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger progress" role="progressbar"
                        ria-label="Danger striped example" [style.width.%]="ability.percent" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"> %{{ability.percent}}</div>
                </div>
                <div class="btn-group buttonGroup" *ngIf="isAdmin" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger" (click)="deleteItem(ability)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button type="button" class="btn btn-warning" (click)="openAbility(ability)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>